#header {
  color: #747474;
  text-align: center;
  font-size: 10vw;
  background-color: #272727;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width:auto;
  vertical-align: middle;

}


header{
  width: auto;
  margin: auto;
}

body{
  background-color:  #747474;
  width: auto;
  margin: auto;
  font-family: Georgia, serif;
}

h1{
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color:#747474;
  height: 60pt;}

h2{
  font-family: Verdana, sans-serif;
  font-weight: bold;
    font-size: 40pt;
  }
h3{
  font-family: Verdana, sans-serif;
  font-weight: bold;
    font-size: 30pt;
}
h4{
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
h5{
 font-family: Verdana, sans-serif;
  font-weight: bold;

}
h6{
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

p{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  font-size: 20pt;
  font-family: Georgia, serif;
}

nav ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

nav a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;

}


nav li {
  float: left;
  font-size: 40px;
  font-family: Tahoma;
  font-weight: bold;
  text-align: center;
  width:33.3%;

}
 img {
  display: block;
margin-left: auto;
margin-right: auto;
width: 100%;

}

#barcolor1{
  background-color: #FF652F;
}

#barcolor2{
  background-color: #FFE400;
}

#barcolor3{
  background-color: #14A70C;
}


#menuBar{
    padding: 2%;
    table-layout: fixed;


}

#menuBar p{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  font-size: 40pt;
  font-family: Georgia, serif;
  display: flex;
    flex-wrap: nowrap;
}

#menuBar img{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#inhalt ul{
  margin: 50px;
  padding-bottom: 200px;

}


#inhalt li{

  float: left;
  font-size: 25pt;
  font-family: Tahoma;
  padding: 8px;
  width: 100%;
}

#inhalt img{
  width: 50%;
  height: 50%;
  display: block;
margin-left: auto;
margin-right: auto;
border-style: solid;
border-width: 20px;
border-color: #FFE400;
}
#inhalt video {
  display: block;
margin-left: auto;
margin-right: auto;
  width: 25%;
  height: 25%;
border-style: solid;
border-width: 20px;
border-color: #FF652F;
}
